<div class="entry" id="entry_<%= tweet.twitter_id -%>">
  <div class="contents">
    <div class="actions">
      <div class="visiblity">
        <%= check_box_tag "visibility", "visible", tweet.display, :class => "visiblity_checkbox", :onchange => "$.post('#{eval("admin_update_scrapbook_display_path(:tweet => #{tweet.id})")}')" %>
      </div>
      <!--
      <div class="refresh btn">
        <%= link_to "Refresh", "javascript:;", :onclick => "$.post('#{eval("admin_refresh_tweet_path(:tweet => #{tweet.twitter_id})")}')" %>
      </div>
      -->
    </div>
    <% for photo in tweet.photos do %>
  		<div class="media"><%= link_to image_tag(photo.image.url(:small)), photo.image.url(:original, false) %></div>
  	<% end %>
  	<div class="posted_at"><%= raw tweet.posted_at.strftime("<strong>%B #{tweet.posted_at.day.ordinalize}, %Y</strong> <span class='thin'>- %H:%M UTC</span>") %></div>
    <div class="tweet"><%= render_tweet(tweet) %></div>
    <div class="clear"></div>
  </div>
</div>