<li class="entry <%= 'retweet' if tweet.is_retweet -%>">
  <div class="posted_at"><%= raw tweet.posted_at.strftime("<strong>%B #{tweet.posted_at.day.ordinalize}, %Y</strong> <span class='thin'>- %H:%M UTC</span>") %></div>
	<% for photo in tweet.photos do %>
		<div class="media"><%= link_to image_tag(photo.image.url(:large)), photo.image.url(:original, false) %></div>
		<%= render :partial => '/scrapbook/social_links', :locals => {:tweet => tweet, :link_class => 'image', :photo => photo} %>
	<% end %>
	<div class="tweet <%= 'text' if tweet.photos.empty? %>"><%= render_tweet(tweet) %></div>
	<% if tweet.photos.empty? %>
	  <%= render :partial => '/scrapbook/social_links', :locals => {:tweet => tweet, :link_class => 'text', :photo => nil} %>
	<% end %>
	<div class="clear">
</li>