<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>CG Works | Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="header">
    <div class="contents">
      <h1><%= link_to "CG Works Admin", admin_path %></h1>
      <div class="refresh btn">
        <%= link_to "Refresh All", "javascript:;", :onclick => "$.post('#{eval("admin_refresh_all_tweets_path")}')" %>
      </div>
    </div>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>
  
  <div id="footer">
    <div class="contents">
      <div class="copyright">&copy; Christopher Griffith Studio <%= Time.now.year -%></div>
    </div>
  </div>

</body>
</html>