<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CG Works<%= "| #{@subtitle}" if @subtitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CG Works<%= "| #{@subtitle}" if @subtitle %>">
  <meta name="author" content="Christopher Griffith Studio">
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @show_archive %>
  <div id="archives">
    <ul>
      <% @tweets_by_month.each do |monthname, tweets| %>
      <li><%= link_to monthname, archived_month_path(monthname.parameterize) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div id="content">
  <div id="header">
    <div class="logo">
      <%= link_to image_tag("logo.png", :alt => "CG WORKS", :title => "CG WORKS", :description => "Christopher Griffith Studio Works"), root_path %>
    </div>
    <h1>CG Works</h1>
    <%= raw("<h2>#{@subtitle}</h2>") if @subtitle %>
    <div class="clear"></div>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <div class="contact">
      CHRISTOPHERGRIFFITH <span class="grey">STUDIO</span><br>
      The AUDITORIUM<br>
      121 WEST 27th ST<br>
      NEW YORK, NY<br>
      10001<br>
      T: +1.212.475.0007<br>
      <a href="mailto:studio@christophergriffith.com">studio@christophergriffith.com</a><br>
      <a href="http://www.christophergriffith.com">www.christophergriffith.com</a>
      
    </div>
    <div class="copyright">&copy;<%= Time.now.year -%> Christopher Griffith Studio</div>
  </div>
  
</div>

<%= render :partial => '/analytics' %>

</body>
</html>
